# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# Resharper
*.DotSettings.user

# OS
Thumbs.db
.DS_Store

# NuGet
*.nupkg
packages/
